# Theme Settings
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
minimal_mistakes_skin: "air" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale: "en-US"
title: "RavenScout Ecological Consulting Inc."
masthead_title: " "
title_separator: "-"
subtitle: "Putting Science into Practice"
name: "RavenScout Ecological Consulting Inc."
description: "Ecological consulting services specializing in field work, data management, analysis, and reporting"
url: "https://ravenscout.ca"
baseurl: ""
repository: "ravenscout-ecology/ravenscout-ecology.github.io"

# Author panel
author:
  name: "&nbsp;"
  avatar: "/assets/images/logo.png"
    email: "RavenScoutYT@gmail.com" 
  location: "Whitehorse, Yukon"
  
# Navigation
navigation:
  main:
    - title: "Services"
      url: /services/
    - title: "Gallery"
      url: /gallery/
    - title: "Contact"
      url: /contact/
      
# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: false
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

  # Site Footer
footer:
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:RavenScoutYT@gmail.com"
    - label: "Phone"
      icon: "fas fa-fw fa-phone-square"
      url: "tel:867-332-2371"

# Copyright
copyright: "RavenScout Ecological Consulting Inc."
copyright_url: "https://ravenscout.ca"

atom_feed:
  hide: true
